*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
  width: 100vw;
  height: 75px;
  background-color: black;
  position: fixed;
  top: 0px;
}
.nav{
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.space{
  margin-left: 10vw;
}

.initialBox{
  width: auto;
  display: flex;
  flex-direction: row;
  margin-right: 10vw;
}

.initial{
  height: 50px;
  width: auto;
  margin: 10px;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.secondaryBox{
  width: auto;
  display: flex;
  flex-direction: row;
}

.secondary{
  height: 50px;
  width: auto;
  margin: 10px;
  font-size: 12px;
  color: #8b939b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main{
  height: 75%;
  width: 100vw;
}

.topBox{
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.back{
  height: 100%;
  width: 100vw;
  bottom: 0;
}

.sidenote{
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 20vh;
  background-color: rgb(11,11,11, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 33px 10vw;
}

.sidenoteNote{
  height: 100%;
  width: 70%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 34px;
}

.sidenoteButton{
  height: 40px;
  width: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBox{
  height: 10vh;
  width: 100vw;
  background-color: #20272b;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggles{
  width: 325px;
  height: 100%;
  border-left: 1px solid #35383a;
  border-right: 1px solid #35383a;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision{
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  font-weight: 700;
  font-size: 16px;
}

.sub{
  height: 10vh;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25vh 0vh;
}

.subMain{
  width: 300px;
  height: 40vh;
  -webkit-box-shadow: 0px 0px 4px 3px rgba(222,222,222,1);
  -moz-box-shadow: 0px 0px 4px 3px rgba(222,222,222,1);
  box-shadow: 0px 0px 4px 3px rgba(222,222,222,1);
  font-size: 16px;
  font-weight: 700;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.extra{
  font-size: 12px;
  font-weight: 400;
  color: blue;
}

.emptySpace{
  height: 35vw;
  width: 100vh;
}

.footer{
  height: 50px;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footerImage{
  height: 12px;
  width: 105px;
  margin: 0px 0px 0px 125px;
  border-right: 1px solid grey;
}

.footerLeft{
  height: 50px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footerLink{
  height: 50px;
  width: auto;
  color: white;
  padding: 20px 10px;
  font-size: 12px;
}

.footerRight{
  height: 50px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

.secondaryFooterRight{
  height: 50px;
  width: auto;
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
}